.description {
	padding: .5rem;
	vertical-align: top;

	svg {
		fill: var(--color);
		vertical-align: middle;
	}
}

.header {
	color: var(--color);
}

.statsWrapper {
	overflow-x: auto;
	width: 100%;
}
