@import '../colors.scss';
@import '../dimensions.scss';
@import '../shared-button-styles.scss';

.trays {
	display: flex;
	position: fixed;
	z-index: 19;
}

.customDrawer {
	position: fixed;
	top: 0;
	bottom: 0;
	background: var(--background);
	box-shadow: 2px 0 10px var(--shadow);
	color: var(--color);
	z-index: 9;
	overflow: hidden;
}

.trayList {
	background: var(--background-ui);
	display: flex;
	flex-direction: row;
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: relative;
}

.tray {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: auto;
	flex-shrink: 0;
	box-shadow: 10px 0 10px -10px var(--shadow);

	select, button, input {
		background-color: var(--background);
		color: var(--color);
	}

	input[type=submit], input[type=button] {
		background-color: var(--color);
		border-radius: 50px;

		&:hover {
			background-color: var(--color-dimmed);
			color: var(--hover);
		}
	}
}

.trayHeader {
	background: var(--background-ui);
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: $dock-height;
	padding-left: 10px;
	position: sticky;
	top: 0;
	z-index: 19;
	flex-shrink: 0;
}

.trayHeaderRight {
	display: flex;
	align-items: center;
	gap: 0;
}

button.trayHeaderButton,
.trayClose {
	@extend %iconButton;

	&:hover {
		color: var(--color-dimmed);
	}
}

.chapter-tray-padding {
	padding: 0.5em;
}

.tray-padding {
	padding: 0.5em;
}

.chapter-tray {
	display: flex;
	font-size: 14px;
	line-height: 30px;

	* {
		margin-right: 5px;
	}

	span {
		width: 80px;
	}

	button {
		width: 100%;
	}
}

.visible {
	display: flex;
}

.hidden {
	display: none;
}

.trayFilter {
	background: transparent;
	border: none;
	box-sizing: border-box;
	color: inherit;
	display: block;
	cursor: pointer;
	font: inherit;
	margin: 0;
	padding: 14px 0;
	text-align: center;
	width: $dock-height;

	&:hover {
		background: var(--hover);

		svg {
			fill: var(--color);
		}
	}

	&:focus-visible {
		outline: 2px solid var(--color);
		outline-offset: -2px;
	}

	svg {
		fill: var(--color-dimmed);
	}
}

.active {
	background: var(--background-ui);

	svg {
		fill: var(--color);
	}
}

.help-panel {
	padding: .5em;
	font-size: .7em;

	h3 {
		margin-top: 1em;
	}

	p {
		margin-bottom: 1em;
	}

	button {
		margin-bottom: .5em;
		width: 100%;
	}
}

.uploadSettings {
	background: var(--background);
	box-sizing: border-box;
	color: var(--color);
	display: block;
	font-size: 1.4em;
	height: $dock-height;
	line-height: $dock-height;
	margin-bottom: .5em;
	padding: 0;
	text-align: center;
	width: 100%;

	input[type=file] {
		display: none;
	}

}

.settings-li {
	margin-bottom: 1em;

	label {
		display: block;
	}
}

.resizeHandle {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 8px;
	cursor: ew-resize;
	background: transparent;
	z-index: 200;
}