@import '../colors.scss';
@import '../dimensions.scss';

.trays {
	display: flex;
	position: fixed;
	z-index: 19;
}

.trayList {
	background: var(--background-ui);
	display: flex;
	flex-direction: row;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.isReferenceMode {
	// Positioning handled in component sx prop
}

.isCompareMode {
	width: calc( 100vw - $dock-height - 1px );
}

.tray {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: auto;
	z-index: 10;
	width: $sidebar-width;
	min-width: $sidebar-width;
	flex-shrink: 0;
	box-shadow: 2px 0 10px var(--shadow);

	select, button, input {
		background-color: var(--background);
		color: var(--color);
	}

	input[type=submit], input[type=button] {
		background-color: var(--color);
		border-radius: 50px;

		&:hover {
			background-color: var(--color-dimmed);
			color: var(--hover);
		}
	}
}

.trayHeader {
	background: var(--background-ui);
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: $dock-height;
	padding: 0 10px;
	position: sticky;
	top: 0;
	z-index: 19;
	flex-shrink: 0;
}

.trayHeaderRight {
	display: flex;
	align-items: center;
	gap: 0;
}

button.trayHeaderButton,
.trayClose {
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 48px;

	svg {
		width: 24px;
		height: 24px;
		fill: var(--color-dimmed);
	}

	&:hover svg {
		fill: var(--color);
	}
}

.chapter-tray-padding {
	padding: 0.5em;
}

.tray-padding {
	padding: 0.5em;
}

.chapter-tray {
	display: flex;
	font-size: 14px;
	line-height: 30px;

	* {
		margin-right: 5px;
	}

	span {
		width: 80px;
	}

	button {
		width: 100%;
	}
}

.visible {
	display: flex;
}

.hidden {
	display: none;
}

.trayFilter {
	box-sizing: border-box;
	display: block;
	cursor: pointer;
	margin: 0;
	padding: 14px 0;
	text-align: center;
	width: $dock-height;

	&:hover {
		background: var(--hover);

		svg {
			fill: var(--color);
		}
	}

	svg {
		fill: var(--color-dimmed);
	}
}

.active {
	background: var(--background-ui);

	svg {
		fill: var(--color);
	}
}

.help-panel {
	padding: .5em;
	font-size: .7em;

	h3 {
		margin-top: 1em;
	}

	p {
		margin-bottom: 1em;
	}

	button {
		margin-bottom: .5em;
		width: 100%;
	}
}

.uploadSettings {
	background: var(--background);
	box-sizing: border-box;
	color: var(--color);
	display: block;
	font-size: 1.4em;
	height: $dock-height;
	line-height: $dock-height;
	margin-bottom: .5em;
	padding: 0;
	text-align: center;
	width: 100%;

	input[type=file] {
		display: none;
	}

}

.settings-li {
	margin-bottom: 1em;

	label {
		display: block;
	}
}

.sidebar-controls {
	background: var(--background-ui);
	box-shadow: 0 0 10px 5px var(--shadow);
	display: flex;
		align-items: center;
		justify-content: space-between;
	height: $dock-height;
	position: sticky;
	top: 0;
	left: 0;
	overflow: hidden;
	padding-left: 10px;

	z-index: 19;

	svg {
		fill: var(--color);
	}
}

.sidebar-icon {
	padding: 0 5px;
}

.sidebarControlsInner {
	display: flex;
	align-items: center;
	flex: 1;
}

.sidebar-controls-right-outer {
	display: flex;
}

.export {
	line-height: 24px;
}

.inline a {
	vertical-align: top;
}

.sidebarButton {
	background: var(--background-ui);
	border-bottom: none;
	border-left: none;
	border-top: none;
	width: $dock-height;
}