.initial-view {
	height: 100vh;
	width: 100vw;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	text-align: center;

	.logo {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 20px;
	}

	.version-select-container {
		display: flex;
		justify-content: center;
		margin: 20px 0;
		width: 100%;

		select {
			width: auto;
		}
	}

	.content {
		margin: 0 auto;
		max-width: 800px;
		padding: 5%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		min-height: 100vh;

		p {
			width: 100%;
			max-width: 600px;
		}
	}
}
