.initial-view {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: row;

	@media ( max-width: 768px ) {
		display: block
	}

	.left-panel {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 5%;
		text-align: center;
		overflow-y: auto;

		.logo {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 20px;
		}

		p {
			width: 100%;
			max-width: 500px;
			text-align: left;
			margin-bottom: 1em;
		}

		h1 {
			margin-bottom: 20px;
		}
	}

	.right-panel {
		flex: 1;
		display: flex;
		flex-direction: column;
		background: var(--background-ui);
		border-left: 1px solid var(--mid);
		overflow-y: auto;
		padding: 0 1em 1em 1em;

		@media ( max-width: 768px ) {
			border-left: none;
			border-top: 1px solid var(--mid);
			overflow-y: initial;
		}
	}
}
