@import '../dimensions.scss';

.dock {
	background-color: var(--background-ui);
	box-shadow: 0 0 10px 5px var(--shadow);
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	transition: margin 200ms;
	z-index: 8;

	button {
		background-color: var(--background-ui);
		cursor: pointer;
		border-radius: 0;
		border-left-width: 0;
	}

	button:first-child {
		border-left-color: var(--mid);
		border-left-width: 1px;
		border-left-style: solid;
	}

	select, button, input {
		border: none;
	}
}

.dock-version-selectors {
	border-right: 1px solid var(--mid);
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.dock-with-sidebar-open {
	// Positioning is now fully handled via inline styles for dynamic width
	@media ( max-width: 959px ) {
		left: $dock-height;
	}
}

.noReference {
	// Positioning is handled via inline styles
}
