@import '../_dimensions.scss';

.navigation {
	border-left: 1px solid var(--mid);
	display: flex;

	width: $total-column-width;

	&:first-of-type {
		border-left: none;
	}

	select {
		border-right: none;
		border-top: none;
	}
}
