@import '../dimensions.scss';

.reference-wrapper {
	background: var(--background);
	transition-property: margin;
	transition-duration: 200ms;
	transition-timing-function: ease-out;
}

.reference-wrapper-sidebar-open {
	// Margin is now set via inline styles for dynamic width
}

.reference-wrapper-inner {
	display: flex;
	justify-content: center;
}
