@import '../dimensions.scss';

.extraOptions {
	border-top: none;
	width: $dock-height;
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;
}

.addButton {
	background: var(--background-ui);
	width: $dock-height;
}

.addButton.addButton {
	border: none;
}

.menu {
	background: var(--background-ui);
	border: none;
	color: var(--color);
	width: $dock-height;
}
