@import '../dimensions';

button.clear {
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 48px;

	svg {
		width: 24px;
		height: 24px;
		fill: var(--color-dimmed);
	}

	&:hover svg {
		fill: var(--color);
	}
}
