@import '../dimensions';

button.clear {
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: $dock-height;
	height: $dock-height;

	svg {
		width: 24px;
		height: 24px;
		fill: var(--color-dimmed);
	}

	&:hover svg {
		fill: var(--color);
	}

	&:focus-visible {
		outline: 2px solid var(--color);
		outline-offset: -2px;
	}
}
