@import '../_colors.scss';

.search {
	padding: 0.5rem;
	width: 100%;

	form {
		max-width: 800px;
		margin: 0 auto;
	}

	fieldset {
		margin: 5px;
		position: relative;
	}

	select {
		font-size: 1em;
		height: 1.8em;
	}
}

.picker-button {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	padding: 0 10px;
	position: absolute;
	right: 0;
	top: 0;
}

.remove {
	cursor: pointer;
	padding: 8px;
	position: absolute;
	right: 0;
	top: 0;
}

.hidden {
	height: 0;
	overflow: hidden;
}

.open {
	height: auto;
}

.no-results {
	padding: .5em;
}

.advanced {
	cursor: pointer;
	font-size: 16px;
	line-height: 2em;
	text-align: center;
	a {
		color: var(--color-dimmed);
	}
}

.has-picker {
	padding-right: 43px;
}

.clusivity {
	font-size: 14px;
}


// duplicated from word-details.
.tabs {
	background: var(--background-between);
	display: flex;
	margin: -0.7em;
	margin-bottom: .7em;
	justify-content: space-between;

	a {
		flex-grow: 1;
		padding: 0.3em 0;
		text-align: center;

		&.active {
			background: var(--background-ui);
		}

		&:hover {
			background: var(--background);
		}
	}

	svg {
		fill: var(--color);
	}
}

.sortForm {
	fieldset {
		display: flex;
		flex-wrap: nowrap;
	}
	label {
		font-size: .7em;
	}
	select {
		font-size: .7em;
		height: 40px;
		margin-bottom: 1em;
	}
}
.strongsGroup {
	margin-bottom: 1em;
}

.strongsHeading {
	font-weight: 500;
}

.sortForm {
	margin-top: 0.5em;
}