@import '../dimensions.scss';
.wordStatsTable {

	thead {
		background: var(--background-ui);
		border-bottom: 2px solid var(--color);
	}
}

.sort, .row {
	cursor: pointer;
}

.sort {
	font-weight: 100;
}

.row td:not(:first-child),
.sort:not(:first-child) {
	text-align: center;
}

.row td:first-child {
	padding-left: 5px;
}

.row td {
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
}

.wordRow td {
	padding-top: 5px;
}

.wordRow {
	font-size: 0.85em;
	cursor: pointer;
}

.wordRow td {
	text-align: left;
	padding: 2px 5px;
}
