.versions {
    padding: 0 10px 10px 10px;
}

.fieldset {
    margin-top: 1em;

    > label {
        font-weight: 500;
    }

    ul {
        list-style: none;
    }
}

.buttons { float: right; position: sticky; top: .5em; }
.buttons button { padding: 0 1em; }

.searchContainer {
    background: var(--background-ui);
    box-shadow: 0 10px 10px 10px var(--background-ui);
    margin-bottom: 1em;
    position: sticky;
    top: 0;
    padding: 1em 0 0;
    z-index: 1;

    legend {
        margin-bottom: .5em;
    }
}

.searchInput {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;

    &:focus {
        outline: none;
        border-color: #666;
    }
}

.versionLabel {
    cursor: pointer;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 8fr 11fr;
    margin-bottom: 10px;

    span {
        word-break: break-word;
    }

    &:hover {
        color:var(--accent)
    }

    &.withCheckbox {
        grid-template-columns: 2fr 8fr 11fr;
    }

   input[type="checkbox"] {
        margin-top: 5px;
   }
}